---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zac's portfolio">
  <div
    class="flex text-black flex-col text-5xl gap-8 font-sans font-medium items-center justify-center bg-[#F7B300] h-screen"
  >
    <p>404, bitch</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/64ixCkz4kJ0?si=nZ6S2fuiJzmtdrZr&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</Layout>
