---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Junk from "../components/Junk.jsx";

let games = await Astro.glob('../pages/Games/*.mdx');
---

<Layout title="Zac's portfolio" classes="bg-[#5e22e6] relative">
	<main class="h-screen w-[70vw] mx-auto">
		<div class="grid grid-cols-2 h-full">
			<!-- Header text -->
			<div class="flex flex-col gap-11 justify-center">
				<h1 class="text-8xl font-medium">Zac Lucarelli</h1>
				<p class="text-4xl">
					Developer + Designer of immersive 3D experiences accross
					games, web and XR
				</p>	
			</div>

			<!-- 3D shit -->
			<Junk client:load />
		</div>
	</main>
	<section class="h-screen ring-4 ring-black bg-[#33b3e3] flex flex-col gap-36 justify-center items-center">
		<h2 class="text-6xl">Games</h2>
		<div class="grid grid-cols-3 grid-rows-2 container mx-auto gap-28">
			{games.map((post) => {
				return <Card 
				title={post.frontmatter.title} 
				description={post.frontmatter.description}
				image={`/Cards/${post.frontmatter.img}`}
				href={post.url}
				/>;
			})}
		</div>
	</section>
</Layout>
