<!-- Client list -->
<div class="flex justify-center w-full">
    <div class="bg-white w-[80%] h-36 flex flex-col items-center p-3 ring-4 ring-black mt-[-4.5rem]">
        <h2 class="text-black text-3xl font-medium">Clients</h2>
    </div>
</div>